/* developersList.css */
.developer-list-card {
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
  }
  
  .developer-list-card .image-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .developer-list-card .image-container img {
    width: 100%;
    height: 100%;
  }
  
  .developer-list-card .info {
    margin-top: 10px;
    text-align: center;
  }
  
  .developer-list-card .info h2 {
    margin-bottom: 10px;
  }
  
  .developer-list-card .info p {
    margin-bottom: 10px;
  }
  
  .developer-list-card .info ul {
    list-style: none;
    padding: 0;
  }
  
  .developer-list-card .info ul li {
    margin-bottom: 5px;
  }
  
  .developer-list-card .info ul li a {
    color: blue;
    text-decoration: none;
  }
  
  /* Responsive design for mobile */
  /* stylelint-disable-next-line media-feature-range-notation */
  @media (max-width: 600px) {
    .developer-list-card .image-container img {
      width: 100%;
      height: 100%;
    }
  }
  
  /* carouselStyles.css */
  .carousel-control-prev,
  .carousel-control-next {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .carousel-control-prev-icon{
    background-color:#97bf0f;
    color: #97bf0f;
    border: none;
    padding: 10px 20px;
    border-radius: 10% 50% 50% 10%;
  }
  /* stylelint-disable-next-line rule-empty-line-before */
  .carousel-control-next-icon {
    background-color: #97bf0f;
    color: #97bf0f;
    border: 1px solid #97bf0f;
    padding: 10px 20px;
    border-radius: 50% 10% 10% 50%;
  }
  
  /* Center the buttons horizontally */
  .carousel-control-prev {
    left: 0;
  }
  
  .carousel-control-next {
    right: 0;
  }
  
  .card-body span {
    font-size: 16px;
    font-weight: 700;
    text-decoration:none;
  }
  /* stylelint-disable-next-line rule-empty-line-before */
  .developer-list-card:hover {
    transform: scale(1.05);
    transition: transform .2s;
    cursor:pointer;
  }
  
  .dotted-line {
    border-top: 6px dotted black;
    width: 50%;
    margin: 10px auto;
  }