/* Navbar.css */

.logo-icon {
  height: 150px;
  width: 150px;
  margin-left: 20px;
}

.container-Navbar {
  border-right: 3px solid #dcd2d2;
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-rows:auto 1fr 2fr auto;
}

.links-navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  gap: 15px;
  margin-top: 30px; /* Adjust margin for smaller screens */
  font-weight: bolder;
  color: rgb(80, 3, 158);
  text-transform: uppercase;
}

.links-navbar a {
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s, color 0.3s; /* Added color transition */
  font-weight: bold;
}

.links-navbar a:hover {
  color: white;
  background-color: green;
}

.heading-title {
  font-size: larger;
  font-family: "Ink Free", Times, serif;
  font-weight: bolder;
}

.footer {
  display: flex;
  gap: 10px;
  margin: auto;
  color: #333;
  padding-bottom: 15px;
}

/* For screens with a max width of 768px (typical tablet size) */
@media screen and (max-width: 768px) {
  .container-Navbar {
    grid-template-rows: auto auto auto; 
  }

  .links-navbar {
    margin-top: 0; 
  }
}

/* For screens with a max width of 480px */
@media screen and (max-width: 480px) {
  .container-Navbar {
    grid-template-rows: auto auto auto; 
  }

  .logo-icon {
    height: 100px;
    width: 100px;
  }

  .heading-title {
    font-size: large;
  }

  .links-navbar {
    display: none;
    margin-top: 0;
  }

  .links-navbar.show {
    display: flex;
    flex-direction: column;
  }

  .hamburger-btn {
    display: block;
    cursor: pointer;
    margin-top: 20px;
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
}
