@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Noto+Sans+Display:wght@400;700&family=Poppins&display=swap');

.nav-container {
  width: 130%;
  height: 100vh;
  max-height: 100vh;
  border-right: 3px solid rgba(139, 137, 137, 0.3);
  font-family: 'IBM Plex Sans', sans-serif;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-height: 100vh;
}

.burger {
  display: none;
}

.hidden {
  display: flex;
}

.show {
  display: flex;
}

.logo-img {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  /* object-fit: contain; */
}

.sidenav-list {
  list-style: none;
  width: 100%;
  padding-inline-start: 0;
}

.sidenav-item {
  padding: 5px;
  margin-left: 15px;
}

.sidenav-link {
  text-decoration: none;
  font-size: 1.2rem;
  color: #383838;
  font-weight: 900;
  transition: all 0.3s;
  padding: 0.25rem;
}

.sidenav-item:hover {
  background-color: rgb(116, 189, 8);
}

.sidenav-item:hover a {
  color: white;
}

.sidenav-item.active {
  background-color: rgb(116, 189, 8);
  color: white;
  width: 100%;
  padding: 10px;
}

.sidenav-footer {
  height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidenav-btn {
  width: 100%;
  border: none;
  border-radius: 8px;
  background-color: transparent;
  text-align: left;
}

.sidenav-btn:hover {
  background-color: rgb(116, 189, 8);
  color: white;
}

.sidebar-socials {
  display: flex;
  list-style: none;
  padding-inline-start: 0;
  margin-bottom: 0;
  width: 100%;
  align-items: center;
  gap: 5px;
}

.logo-link {
  color: #383838;
  font-size: 1.2rem;
  padding: 5px;
}

.copyright {
  font-size: 1rem;
  margin-top: 15px;
  color: #383838;
}

.toggle-button {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 999;
  background-color: #fff;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.toggle-button:focus {
  outline: none;
}

@media screen and (width < 768px) {
  .nav-container {
    width: 0;
  }

  .burger {
    display: block;
  }

  .hidden {
    display: none;
  }

  .show {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 998;
    background-color: #fff;
  }

  .nav {
    width: 100%;
  }

  .sidenav-list {
    margin-top: 0 !important;
    align-items: center;
  }
}

@media screen and (width < 1025px) {
  .logo-img {
    height: 100px;
    width: 100px;
  }

  .logo {
    height: 100px;
    width: 100px;
  }

  .sidenav-link {
    font-size: 1rem;
    font-weight: 700;
  }

  .logo-link {
    font-size: 0.8rem;
    padding: 2px;
  }
}

@media screen and (height < 700px) {
  .logo-img {
    height: 70px;
    width: 70px;
  }

  .logo {
    height: 70px;
    width: 70px;
  }
}