default: &default
  adapter: postgresql
  encoding: unicode
  username: postgres
  password: Munguti610.
  host: localhost
  port: 5432
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: web_developers_booking_app_development

test:
  <<: *default
  database: web_developers_booking_app_test
  
production:
  <<: *default
  database: web_developers_booking_app_production
  username: web_developers_booking_app
  password: <%= ENV["WEB_DEVELOPERS_BOOKING_APP_DATABASE_PASSWORD"] %>
