.App {
  text-align: center;
}
/* App.css */
.content-container {
  margin-left: 200px;
  padding: 20px; 
  transition: margin-left 0.3s ease;
  background: url('../images/wedpage-1.jpg') center/cover no-repeat;
}

@media (max-width: 768px) {
  .content-container {
    margin-left: 0px; 
  }
}

/* Rest of your existing styles remain unchanged */
.container-landing-page {
  display: grid;
  grid-template-columns: 12rem 1fr;
  min-height: 100vh;
  gap: 16rem;
}
