/* LandingPage.css */
.landing-page {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/webpage3.jpg') center/cover no-repeat;
    filter: brightness(0.6);
  }
  
  .content {
    z-index: 1;
    text-align: center;
    color: #fff;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .explore-button,
  .book-button {
    margin: 0 10px;
  }
  
  /* ... styles ... */
  